In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('bank.csv')

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,-1,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,-1,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,-1,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,-1,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,-1,0,0,0,1

In [4]:
df.drop(['ID'], axis=1, inplace=True)

In [5]:
X = df.drop(['Personal Loan'], axis=1)
Y = df['Personal Loan']

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [7]:
x_train.shape, y_train.shape

((4000, 12), (4000,))

In [8]:
x_test.shape, y_test.shape

((1000, 12), (1000,))

In [9]:
clf_1 = SVC(C=692, kernel='linear', coef0=1)
clf_1.fit(x_train, y_train)
preds = clf_1.predict(x_test)

In [10]:
acc = accuracy_score(y_test, preds)
print("accuracy_score : ", acc)

accuracy_score :  0.909

In [11]:
from hyperopt import hp
from hyperopt import fmin, tpe

In [12]:
# Set up space dictionary with specified hyperparameters
space = {'C': hp.uniform('C', 1,1000)}

In [13]:
def objective(params):
    params = {'C': params['C']}
    gbm_clf = SVC(kernel='rbf', **params) 
    best_score = cross_val_score(gbm_clf, x_train, y_train, scoring='accuracy', cv=2, n_jobs=4).mean()
    loss = 1 - best_score
    return loss

In [14]:
best = fmin(fn=objective,space=space, max_evals=20, rstate=np.random.RandomState(42), algo=tpe.suggest)
print(best)

100%|███████████████████████████████████████████████████████████| 20/20 [00:07<00:00,  2.76trial/s, best loss: 0.09775]
{'C': 455.2463511691508}